<footer>
    <!-- <i [hidden]="GetWindowOffset()" class="fas fa-arrow-circle-up topscroll" (click)="onActivate($event)"></i> -->
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-8">
                <ul class="f-menu">
                    <li><a href="javascript:void(0)" [routerLink]="['']">Home</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/AboutUs']">About Us</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/Services']">Services</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/ContactUs']">Contact Us</a></li>
                </ul>

            </div>
            <div class="col-6 col-lg-4 text-end">
                <ul class="social float-end">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>


                </ul>
            </div>

        </div>

    </div>
</footer>

<section class="copyright">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="mb-0">Copyright © 2018 TAPS CABS. All Rights Reserved</p>
            </div>
        </div>
    </div>

</section>