<app-header></app-header>
<app-searchbox></app-searchbox>
<section class="popular-package my-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading">
                    <h4>Popular Packages</h4>
                    <p>World's best tourist destinations</p>
                    <span></span>
                </div>



            </div>
            <div class="col-lg-12">
                <owl-carousel-o [options]="PopularPackages">
                    <ng-template carouselSlide>
                        <div class="package_detail">
                            <div class="img_box"><img alt="france" src="assets/images/france.png"></div>
                            <div class="detail">
                                <h4>France</h4>
                                <div class="row">
                                    <div class="col-12  col-sm-12 col-md-6">
                                        <p>Starting From</p>
                                        <p>AED 4350.00</p>
                                    </div>
                                    <div class="col-12  col-sm-12 col-md-6"> <a href="#">View Package
                                        </a></div>
                                </div>


                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="package_detail">
                            <div class="img_box"><img alt="Paris" src="assets/images/paris.png"></div>
                            <div class="detail">
                                <h4>Paris</h4>
                                <div class="row">
                                    <div class="col-12  col-sm-12 col-md-6">
                                        <p>Starting From</p>
                                        <p>AED 4350.00</p>
                                    </div>
                                    <div class="col-12  col-sm-12 col-md-6"> <a href="#">View Package
                                        </a></div>
                                </div>


                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="package_detail">
                            <div class="img_box"><img alt="Bali" src="assets/images/Bali.png"></div>
                            <div class="detail">
                                <h4>Bali</h4>
                                <div class="row">
                                    <div class="col-12  col-sm-12 col-md-6">
                                        <p>Starting From</p>
                                        <p>AED 4350.00</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6"> <a href="#">View Package</a></div>
                                </div>


                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="package_detail">
                            <div class="img_box"><img alt="Bali" src="assets/images/Bali.png"></div>
                            <div class="detail">
                                <h4>Bali</h4>
                                <div class="row">
                                    <div class="col-12  col-sm-12 col-md-6">
                                        <p>Starting From</p>
                                        <p>AED 4350.00</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6"> <a href="#">View Package</a></div>
                                </div>


                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>

            </div>


            <div class="col-sm-12">
                <a href="#" class="View-All-Packages">View More Packages <i class="fas fa-angle-right"></i></a>


            </div>


        </div>

    </div>

</section>
<section class="popular_routes my-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading">
                    <h4>Popular Routes</h4>
                    <p>World's best tourist destinations</p>
                    <span></span>



                </div>



            </div>

            <div class="col-sm-12 pb-5">

                <owl-carousel-o [options]="carouselOptions">
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="flight_owl">
                                <span><i class="fas fa-car"></i></span>
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="duration_dot"></div>
                                        </td>
                                        <td>Dubai</td>
                                    </tr>
                                    <tr>
                                        <td>Delhi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="flight_owl">
                                <span><i class="fas fa-car"></i></span>
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="duration_dot"></div>
                                        </td>
                                        <td>Dubai</td>
                                    </tr>
                                    <tr>
                                        <td>Delhi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="flight_owl">
                                <span><i class="fas fa-car"></i></span>
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="duration_dot"></div>
                                        </td>
                                        <td>Dubai</td>
                                    </tr>
                                    <tr>
                                        <td>Delhi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="flight_owl">
                                <span><i class="fas fa-car"></i></span>
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="duration_dot"></div>
                                        </td>
                                        <td>Dubai</td>
                                    </tr>
                                    <tr>
                                        <td>Delhi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="flight_owl">
                                <span><i class="fas fa-car"></i></span>
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="duration_dot"></div>
                                        </td>
                                        <td>Dubai</td>
                                    </tr>
                                    <tr>
                                        <td>Delhi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="flight_owl">
                                <span><i class="fas fa-car"></i></span>
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="duration_dot"></div>
                                        </td>
                                        <td>Dubai</td>
                                    </tr>
                                    <tr>
                                        <td>Delhi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="flight_owl">
                                <span><i class="fas fa-car"></i></span>
                                <table>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="duration_dot"></div>
                                        </td>
                                        <td>Dubai</td>
                                    </tr>
                                    <tr>
                                        <td>Delhi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>

            </div>






        </div>
    </div>


</section>
<app-footer></app-footer>
<!-- Login -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>