

/******************/
.popular_routes {
    background: url(../../../assets/images/background-1.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.popular_routes::before {
    content: '';
    width: 100%;
    z-index: 0;
    /* background: rgba(0, 90, 128, 0.48); */
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.popular_routes h4 {
    color: var(--white)
}

.popular_routes p {
    color: var(--white)
}

.flight_owl {
    background: var(--white);
    max-height: 100px;
    position: relative;
    min-height: 100px;
    margin: 15px;
    border-radius: 11px;
}

.flight_owl span {
    position: absolute;
    color: var(--white);
    left: -13px;
    top: -8px;
    width: 32px;
    height: 32px;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.flight_owl td {
    line-height: 48px;
    padding-left: 34px;
}

.flight_owl td:last-child {
    padding-left: 20px;
}

.flight_owl .duration_dot {
    position: relative;
    border-left: 2px dashed #D4D7DB;
    height: 39px;
}

.flight_owl .duration_dot::after {
    content: "";
    position: absolute;
    right: -3px;
    bottom: -10px;
    width: 7px;
    height: 7px;
    background: #D4D7DB;
    border-radius: 50%;
}

.flight_owl .duration_dot::before {
    content: "";
    position: absolute;
    right: -3px;
    top: -10px;
    width: 7px;
    height: 7px;
    background: #D4D7DB;
    border-radius: 50%;
}

.flight_owl span img {
    display: block;
    width: 51%;
    margin: 7px;
}


/**************************/

.popular-package {
    /* background: url(../../assets/images/Popularpackages.svg) 2% 3% no-repeat; */
    background-size: 8%;
}

.package_detail {
    position: relative;
    margin-bottom: 14px;
}

.package_detail .img_box {
    overflow: hidden;
}

.package_detail .img_box img {
    width: 100%;
}

.package_detail .detail {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(147, 196, 203, 0) 77%);
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 33px 0px 19px 14px;
}

.package_detail .detail a {
    color: #fff;
    background: var(--primary);
    transition: .3s;
    position: relative;
    text-align: center;
    line-height: 37px;
    height: 37px;
    width: 105px;
    font-size: .9rem;
    display: inline-block;

}

.package_detail .detail a i {
    margin-left: 2px;
    transition: .3s;
    font-weight: 600;
}

.package_detail:hover .detail a i {
    margin-left: 10px;
    transition: .3s;
    font-weight: 600;
}

.package_detail .detail p {
    font-size: 18px;
}

.package_detail .detail h4 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 600;
}

.View-All-Packages {
    -webkit-transition: .3s;
    transition: .3s;
    float: right;
    font-size: 18px;
    color: var(--font-color);
    font-weight: 600;
}